src/main/mule/new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6ecb44e5-2d78-4e5d-aafc-5ab157f2fea5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="newFlow" doc:id="3d2f4d4d-caa1-4ab8-a4c2-151dab2e19c6" >
		<http:listener doc:name="Listener" doc:id="6f739f7b-8df7-451f-a2a4-c2aae619070b" config-ref="HTTP_Listener_config" path="/newrepo"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="646065ac-03fb-4d9c-8bb9-ecd5dc2d6fa1" />
		<ee:transform doc:name="Transform Message" doc:id="85928694-072d-4e2d-9bec-aa3c83b2a5bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.*name]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
